body {
    overflow-x: hidden !important;
}

ul {
    list-style: none;
    background-color: black;
    padding: 10px;
    bottom: 8px solid red;
    width: 100%;
}

.navbar-collapse {
    background: black !important;
}

ul li a {
    text-decoration: none;
    color: white;
}

#home {
    margin-left: 20% !important;
}

ul li {
    background-color: black;
    border: 1px solid;
    text-align: center;
    /* padding: 20px; */
}

ul li:hover {
    background-color: red;
    border-bottom: 1px solid yellow;
}

marquee img {
    border: 2px solid black;
}

hr {
    color: black;
}

#img1 {
    transition: all 1s;
}

#img1:hover {
    transform: scale(1, 1);
}

@font-face {
    font-family: writting;
    src: url('../fonts/Fearth.ttf')
}

#writting {
    font-family: writting;
    text-align: center;
    color: red;
    font-size: 50PX;
    border: 2px solid;
    background-color: black;
    padding: 20px;
}

table tr td {
    padding: 10px;
}

table tr td {
    margin: 50px;
}

form {
    padding: 10px;
}

pre {
    overflow-y: hidden !important;
}

#writting {
    font-family: writting;
    text-align: center;
    color: red;
    font-size: 50PX;
    border: 2px solid;
    background-color: black;
    padding: 20px;
}

.menu {
    display: inline;
    color: red;
    margin: auto;
    padding: 20px;
    margin-left: 18%;
}

.menu1 {
    display: inline;
    color: black;
    margin: 120px;
    padding: 45px;
    text-decoration: none;
    text-align: center;
    font-size: 2em;
}

ol li {
    text-align: center;
    display: inline;
    margin: 120px;
    text-decoration: none;
    padding: 20px;
}

p a input {
    width: 100px;
    height: 30px;
}

.main {
    font-family: writting;
    text-align: center;
    color: red;
    font-size: 50PX;
    border: 2px solid;
    background-color: black;
    padding: 20px;
}

@font-face {
    font-family: usman1807font;
    src: url('../fonts/Yahoo.ttf')
}

h1 {
    font-family: usman1807font !important;
}

#images {
    width: 20%;
}

#leaveus {
    font-size: 50px !important;
    font-family: usman !important;
    color: red !important;
}

@font-face {
    font-family: usman;
    src: url('../fonts/KentuckyFriedChickenFont.ttf')
}

form {
    font-size: 25px;
}

#feedback input {
    width: 200px;
    height: 35px;
    font-size: 17px;
    border-color: red;
}

table tr td input {
    width: 250px;
    height: 30px;
}